{% extends "layout.html" %}
{% block content %}
<a class="back-link" href="/admin/bars/{{ bar.id }}/tables"><i class="bi bi-chevron-left" aria-hidden="true"></i> {{ _('admin_tables.edit.back', default='Back to tables') }}</a>
<h1>{{ _('admin_tables.edit.title', bar=bar.name, default='Edit Table for {bar}') }}</h1>
<form class="form" method="post">
  <label for="name">{{ _('admin_tables.form.labels.name', default='Name') }}
    <input id="name" name="name" value="{{ table.name }}" required>
  </label>
  <label for="description">{{ _('admin_tables.form.labels.description', default='Description') }}
    <textarea id="description" name="description" maxlength="190">{{ table.description }}</textarea>
  </label>
  <button class="btn btn--primary" type="submit">{{ _('admin_tables.form.actions.save', default='Save') }}</button>
</form>
{% endblock %}
