{% extends "layout.html" %}
{% block content %}
<h1>{{ _('admin_tables.edit.title', bar=bar.name, default='Edit Table for {bar}') }}</h1>
<form class="form" method="post">
  <label for="name">{{ _('admin_tables.form.labels.name', default='Name') }}
    <input id="name" name="name" value="{{ table.name }}" required>
  </label>
  <label for="description">{{ _('admin_tables.form.labels.description', default='Description') }}
    <textarea id="description" name="description" maxlength="190">{{ table.description }}</textarea>
  </label>
  <button class="btn btn--primary" type="submit">{{ _('admin_tables.form.actions.save', default='Save') }}</button>
</form>
{% endblock %}
