{% extends "layout.html" %}

{% block page_styles %}
{{ super() }}
<link rel="stylesheet" href="/static/css/pages/bar-new-category.css">
{% endblock %}

{% block content %}
{% set form_data = form_values if form_values is defined else {} %}
{% set name_map = form_data.get('name_translations', {}) %}
{% set description_map = form_data.get('description_translations', {}) %}
<a class="back-link" href="/bar/{{ bar.id }}/categories">
  <i class="bi bi-chevron-left" aria-hidden="true"></i>
  {{ _('bar_categories.new.back', default='Back to categories') }}
</a>
<h1>{{ _('bar_categories.new.title', bar=bar.name, default='Add Category for {bar}') }}</h1>
{% if error %}<p class="error">{{ error }}</p>{% endif %}
<form class="form" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
  <div class="field-group translation-control">
    <label for="name">{{ _('bar_categories.form.name', default='Name') }}
      <input id="name" name="name" value="{{ name_map.get(language_code, form_data.get('name', '')) }}" required>
    </label>
    <button type="button" class="btn-outline translation-toggle" data-translation-target="nameTranslations" aria-expanded="false">{{ _('bar_categories.form.name_translate_button', default='Translate name') }}</button>
  </div>
  <div id="nameTranslations" class="translation-panel" hidden>
    <p class="translation-help">{{ _('bar_categories.form.translation_help', default='Provide a name for each supported language.') }}</p>
    {% for lang in available_languages %}
    <label for="name_{{ lang.code }}">{{ _('bar_categories.form.language_name_label', language=lang.name, default='{language} name') }}
      <input id="name_{{ lang.code }}" name="name_{{ lang.code }}" value="{{ name_map.get(lang.code, form_data.get('name', '')) }}">
    </label>
    {% endfor %}
  </div>
  <div class="field-group translation-control">
    <label for="description">{{ _('bar_categories.form.description', default='Description') }}
      <textarea id="description" name="description" required>{{ description_map.get(language_code, form_data.get('description', '')) }}</textarea>
    </label>
    <button type="button" class="btn-outline translation-toggle" data-translation-target="descriptionTranslations" aria-expanded="false">{{ _('bar_categories.form.description_translate_button', default='Translate description') }}</button>
  </div>
  <div id="descriptionTranslations" class="translation-panel" hidden>
    <p class="translation-help">{{ _('bar_categories.form.translation_help_description', default='Write a description for every supported language.') }}</p>
    {% for lang in available_languages %}
    <label for="description_{{ lang.code }}">{{ _('bar_categories.form.language_description_label', language=lang.name, default='{language} description') }}
      <textarea id="description_{{ lang.code }}" name="description_{{ lang.code }}">{{ description_map.get(lang.code, form_data.get('description', '')) }}</textarea>
    </label>
    {% endfor %}
  </div>
  <label for="display_order">{{ _('bar_categories.form.display_order', default='Display Order') }}
    <input id="display_order" type="number" name="display_order" value="{{ form_data.get('display_order', 0) }}">
  </label>
  <button class="btn btn--primary" type="submit">{{ _('bar_categories.form.create', default='Create') }}</button>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/js/bar-new-category.js" defer></script>
{% endblock %}
