{% extends "layout.html" %}
{% block content %}
<h1>Add Category for {{ bar.name }}</h1>
{% if error %}<p class="error">{{ error }}</p>{% endif %}
<form class="form" method="post">
  <label for="name">Name
    <input id="name" name="name" required>
  </label>
  <label for="description">Description
    <textarea id="description" name="description" required></textarea>
  </label>
  <label for="display_order">Display Order
    <input id="display_order" type="number" name="display_order" value="0">
  </label>
  <button class="btn btn--primary" type="submit">Create</button>
</form>
{% endblock %}
