{% extends "layout.html" %}
{% block content %}
<h1>{{ _('bar_categories.new.title', bar=bar.name, default='Add Category for {bar}') }}</h1>
{% if error %}<p class="error">{{ error }}</p>{% endif %}
<form class="form" method="post">
  <label for="name">{{ _('bar_categories.form.name', default='Name') }}
    <input id="name" name="name" required>
  </label>
  <label for="description">{{ _('bar_categories.form.description', default='Description') }}
    <textarea id="description" name="description" required></textarea>
  </label>
  <label for="display_order">{{ _('bar_categories.form.display_order', default='Display Order') }}
    <input id="display_order" type="number" name="display_order" value="0">
  </label>
  <button class="btn btn--primary" type="submit">{{ _('bar_categories.form.create', default='Create') }}</button>
</form>
{% endblock %}
