{% extends "layout.html" %}
{% block content %}
{% set category_title = category_name(category) %}
<a class="back-link" href="/bar/{{ bar.id }}/categories/{{ category.id }}/products">
  <i class="bi bi-chevron-left" aria-hidden="true"></i>
  {{ _('bar_products.new.back', default='Back to products') }}
</a>
<h1>{{ _('bar_products.new.title', category=category_title, default='Add Product to {category}') }}</h1>
{% if error %}<p class="error">{{ error }}</p>{% endif %}
<form class="form" method="post" enctype="multipart/form-data">
  <label for="name">{{ _('bar_products.form.name', default='Name') }}
    <input id="name" name="name" required>
  </label>
  <label for="price">{{ _('bar_products.form.price', default='Price (CHF)') }}
    <input id="price" type="number" step="0.01" name="price" required>
  </label>
  <label for="description">{{ _('bar_products.form.description', default='Description') }}
    <textarea id="description" name="description" maxlength="190" required></textarea>
  </label>
  <label for="display_order">{{ _('bar_products.form.display_order', default='Display Order') }}
    <input id="display_order" type="number" name="display_order" value="0">
  </label>
  <label for="photo">{{ _('bar_products.form.photo', default='Photo') }}
    <input id="photo" type="file" name="photo">
  </label>
  <button class="btn btn--primary" type="submit">{{ _('bar_products.form.create', default='Create') }}</button>
</form>
{% endblock %}

