{% extends "layout.html" %}
{% block page_styles %}
{{ super() }}
<link rel="stylesheet" href="/static/css/pages/translation-editor.css">
{% endblock %}
{% block content %}
<section class="category-translation-editor">
  <a class="back-link" href="/bar/{{ bar.id }}/categories/{{ category.id }}/edit"><i class="bi bi-chevron-left" aria-hidden="true"></i> {{ _('bar_categories.edit_name.back', default='Back to category') }}</a>
  <h1>{{ _('bar_categories.edit_name.title', bar=bar.name, category=category.name, default='Edit names for {category}') }}</h1>
  <p class="intro">{{ _('bar_categories.edit_name.intro', default='Provide a name for each supported language. The selected language is shown to customers when browsing the menu.') }}</p>
  {% if error_code %}
  <div class="alert alert-danger">{{ _('bar_categories.edit_name.errors.' + error_code, default='All fields are required.') }}</div>
  {% endif %}
  <form method="post" action="/bar/{{ bar.id }}/categories/{{ category.id }}/edit/name" class="translation-form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    {% for lang in languages %}
    <div class="field-group">
      <label for="name_{{ lang.code }}">{{ _('bar_categories.edit_name.fields.language', language=lang.name, default='{language} name') }}</label>
      <input id="name_{{ lang.code }}" name="name_{{ lang.code }}" value="{{ names.get(lang.code, '') }}" required maxlength="80">
    </div>
    {% endfor %}
    <div class="form-actions">
      <button type="submit" class="btn btn--primary">{{ _('bar_categories.edit_name.actions.save', default='Save names') }}</button>
    </div>
  </form>
</section>
{% endblock %}
